.create {
    padding: 0.5rem;
    margin: 2.5rem;
    width: 96%;
    display: grid;
    justify-content: center;
    cursor: default;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 1.8rem;
    background-color: #0ec0b1;
    border-radius: 15px;
}
.create:hover {
    background-color: #13efdd;
}