.search {
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 32px;
    box-sizing: border-box;
}