.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 32px;
    box-sizing: border-box;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.015fr;
}