.incomplete {
    padding: 5px;
    margin-left: 1rem;
    width: 100px;
    display: grid;
    justify-content: center;
    cursor: default;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 1.8rem;
    background-color: #dedbdb;
    border-radius: 100px;
}
.incomplete:hover {
    background-color: #05e129;
}
.complete {
    padding: 5px;
    margin-left: 1rem;
    width: 100px;
    display: grid;
    justify-content: center;
    cursor: default;
    transition: all 0.3s ease-in-out;
    border: #05e129 2px solid;
    font-size: 1.8rem;
    background-color: #05e129;
    border-radius: 100px;
}